[Desktop Entry]
Type=Application
Name=Sino de Atencao
Comment=Timer de check-in para manter o foco
Exec=python3 main.py
Path=%k
Icon=app-icon
Terminal=false
Categories=Utility;
StartupNotify=true
